node_modules
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

admin/node_modules
admin/.env
admin/.DS_Store
admin/.env.local
admin/.env.development.local
admin/.env.test.local
admin/.env.production.local
admin/.env.development
admin/.env.test
admin/.env.production

dist
build
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production